<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
</head>
<body>

<h2>List of Cars</h2>

<table>
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf для отображения машин -->
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
